/* Odin Recipes Project Stylesheet */

body {
    color: white;
    background: #1300a3;
    background: radial-gradient(circle,rgb(0, 3, 83) 0%, rgb(18, 18, 18) 100%);
    font-family: 'Courier New', Georgia, sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 20px;
    align-items: center;
}

footer {
    padding-top: 20px;
    margin: auto;
    text-align: right;
}

a {
    color: white;
    font-weight: bolder;
}

a:hover {
    color: green;
    text-shadow: 0px 2px 5px black;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.img-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.recipes {
    background-color: #0c0c0c90;
    padding: 5px;
    border: 4px solid rgb(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.recipes .img-container {
    width: 300px;
    height: 300px;
}

.img-container img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.middle-section {
    background-color: #0c0c0c90;
    padding: 10px;
    border: 4px solid rgb(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}